openapi: 3.0.0
info:
  title: TraceonAI API
  description: |
    API for TraceonAI with token security data, rug analysis, and phishing detection.
    
    ## Tier System
    The API uses a tier-based access system with three levels:
    
    ### Basic Tier
    - Rate limits: 1 request per 10 seconds, 5 requests per minute
    - Access to:
      - `/codereveal/security-analysis` (basic token security analysis)
      - `/rugtrace/overview`
      - `/phishtrace/virus-check` (basic URL security check)
    
    ### Pro Tier
    - Rate limits: 2 requests per 10 seconds, 10 requests per minute
    - Access to all Basic tier endpoints plus:
      - `/codereveal` (complete token security data)
      - `/codereveal/audit` (advanced contract audit)
      - `/rugtrace/risk-analysis`
      - `/rugtrace/liquidity-info`
      - `/phishtrace/domain-info` (domain registration and SSL info)
    
    ### Expert Tier
    - Rate limits: 5 requests per 10 seconds, 20 requests per minute
    - Access to all Pro tier endpoints plus:
      - `/rugtrace/past-rugs`
      - `/rugtrace` (combined analysis)
      - `/rugtrace/wallets-involved`
      - `/phishtrace/screenshot` (URL screenshot generation)
      - `/phishtrace` (combined phishing analysis)
  version: 1.0.0
servers:
  - url: https://api.traceonai.io
    description: Production server (uses live data)

# Add global security requirement
security:
  - ApiKeyAuth: []
  
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: API key for authentication
  
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
          example: "Error message"
    
    TokenSecurityRequest:
      type: object
      required:
        - address
      properties:
        address:
          type: string
          description: Contract address
          example: "0x1234567890abcdef1234567890abcdef12345678"
        chainId:
          type: string
          description: Chain ID (optional, defaults to "1" - Ethereum)
          example: "1"
    
    ContractAuditRequest:
      type: object
      required:
        - address
      properties:
        address:
          type: string
          description: Contract address
          example: "0x1234567890abcdef1234567890abcdef12345678"
    
    TokenSecurityResponse:
      type: object
      properties:
        result:
          type: object
          properties:
            overview:
              type: object
              properties:
                token_name:
                  type: string
                  example: "Example Token"
                token_symbol:
                  type: string
                  example: "EXT"
                total_supply:
                  type: string
                  example: "10000000000"
                holder_count:
                  type: string
                  example: "3699"
                buy_tax:
                  type: string
                  example: "0"
                sell_tax:
                  type: string
                  example: "0"
                security_risk:
                  type: object
                  properties:
                    level:
                      type: string
                      example: "Low Risk"
                    color:
                      type: string
                      example: "bg-emerald-500"
                creator_info:
                  type: object
                  properties:
                    creator_address:
                      type: string
                      example: "0xb7c08b8a3b9d607422c4319e8f5eaa2fb38a3a70"
                    creator_balance:
                      type: string
                      example: "4243000"
                is_in_cex:
                  type: object
                  properties:
                    listed:
                      type: string
                      example: "1"
                    cex_list:
                      type: array
                      items:
                        type: string
                      example: ["Binance", "Coinbase"]
            security:
              type: object
              properties:
                is_honeypot:
                  type: string
                  example: "0"
                hidden_owner:
                  type: string
                  example: "0"
                can_take_back_ownership:
                  type: string
                  example: "0"
                selfdestruct:
                  type: string
                  example: "0"
                is_blacklisted:
                  type: string
                  example: "0"
                cannot_sell_all:
                  type: string
                  example: "0"
                is_open_source:
                  type: string
                  example: "1"
                is_mintable:
                  type: string
                  example: "0"
                is_anti_whale:
                  type: string
                  example: "0"
                is_proxy:
                  type: string
                  example: "0"
                transfer_pausable:
                  type: string
                  example: "0"
            holders:
              type: object
              properties:
                token_holders:
                  type: array
                  items:
                    type: object
                    properties:
                      address:
                        type: string
                        example: "0x..."
                      tag:
                        type: string
                        example: "Exchange"
                      is_contract:
                        type: integer
                        example: 1
                      is_locked:
                        type: integer
                        example: 0
                      balance:
                        type: string
                        example: "1000000"
                      percent:
                        type: string
                        example: "10.5"
                lp_holders:
                  type: array
                  items:
                    type: object
                    properties:
                      address:
                        type: string
                        example: "0x..."
                      tag:
                        type: string
                        example: "LP Lock"
                      is_contract:
                        type: integer
                        example: 1
                      is_locked:
                        type: integer
                        example: 1
                      balance:
                        type: string
                        example: "500000"
                      percent:
                        type: string
                        example: "75.5"
                lp_holder_count:
                  type: string
                  example: "10"
                lp_total_supply:
                  type: string
                  example: "1000000"
            trading:
              type: object
              properties:
                dex:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                        example: "Uniswap V2"
                      liquidity:
                        type: string
                        example: "500000"
                      pair:
                        type: string
                        example: "TOKEN/ETH"
                      liquidity_type:
                        type: string
                        example: "Normal"
    
    ContractAuditResponse:
      type: object
      properties:
        contractAddress:
          type: string
          example: "0x1234567890abcdef1234567890abcdef12345678"
        contractName:
          type: string
          example: "TokenContract"
        compiler:
          type: string
          example: "v0.8.4+commit.c7e474f2"
        securityAnalysis:
          type: object
          properties:
            issues:
              type: array
              items:
                type: object
                properties:
                  title:
                    type: string
                    example: "Reentrancy Risk: Missing Reentrancy Guard"
                  description:
                    type: string
                    example: "The contract makes external calls without using a reentrancy guard.\n\nImpact: May be vulnerable to reentrancy attacks if proper precautions are not taken elsewhere.\n\nRecommendation: Implement a reentrancy guard using the nonReentrant modifier from OpenZeppelin or similar."
                  impact:
                    type: string
                    example: "High"
                  confidence:
                    type: string
                    example: "High"

    PhishTraceRequest:
      type: object
      required:
        - url
      properties:
        url:
          type: string
          description: URL to analyze
          example: "https://example.com"

    PhishTraceOverviewResponse:
      type: object
      properties:
        urlAnalysis:
          type: object
          properties:
            riskLevel:
              type: string
              example: "High Risk"
            url:
              type: string
              example: "https://example.com"
        securityScore:
          type: object
          properties:
            score:
              type: string
              example: "85.50"
            color:
              type: string
              example: "bg-red-500"
        detectionSummary:
          type: object
          properties:
            malicious:
              type: integer
              example: 5
            suspicious:
              type: integer
              example: 2
            harmless:
              type: integer
              example: 45
            undetected:
              type: integer
              example: 10

    PhishTraceDetailsResponse:
      type: object
      properties:
        originalUrl:
          type: string
          example: "https://example.com"
        finalUrl:
          type: string
          example: "https://example.com/login"
        pageTitle:
          type: string
          example: "Login Page"
        analysisDate:
          type: string
          example: "2024-03-20 15:30:45"

    PhishTraceSecurityResponse:
      type: object
      properties:
        engineCount:
          type: integer
          example: 62
        results:
          type: array
          items:
            type: object
            properties:
              vendor:
                type: string
                example: "Google Safe Browsing"
              method:
                type: string
                example: "blacklist"
              category:
                type: string
                example: "malicious"
              result:
                type: string
                example: "phishing"

    PhishTraceDomainResponse:
      type: object
      properties:
        domainRegistration:
          type: object
          properties:
            domain:
              type: string
              example: "example.com"
            domainAge:
              type: string
              example: "365 days (1 years, 0 months)"
            registrationDate:
              type: string
              example: "2023-03-20"
            expirationDate:
              type: string
              example: "2025-03-20"
            lastUpdated:
              type: string
              example: "2024-01-15"
            registrar:
              type: string
              example: "GoDaddy.com, LLC"
        sslCertificate:
          type: object
          properties:
            status:
              type: string
              example: "Valid"
            issuedTo:
              type: string
              example: "example.com"
            issuedBy:
              type: string
              example: "Let's Encrypt Authority X3"
            validFrom:
              type: string
              example: "2024-03-01 00:00:00"
            validUntil:
              type: string
              example: "2024-05-30 23:59:59"
            certAge:
              type: string
              example: "20 days"
            daysUntilExpiration:
              type: string
              example: "70 days"
            riskLevel:
              type: string
              example: "Low Risk"
            riskDescription:
              type: string
              example: "The SSL certificate appears valid and has been in use for some time."

    PhishTraceScreenshotResponse:
      type: object
      properties:
        screenshot:
          type: object
          properties:
            url:
              type: string
              example: "https://api.traceonai.com/screenshots/aHR0cHM6Ly9leGFtcGxlLmNvbQ"
            dimensions:
              type: string
              example: "1920 × 1080"
            format:
              type: string
              example: "PNG"
            size:
              type: string
              example: "245.3 kB"
            width:
              type: integer
              example: 1920
            height:
              type: integer
              example: 1080

    PhishTraceCombinedResponse:
      type: object
      properties:
        overview:
          $ref: '#/components/schemas/PhishTraceOverviewResponse'
        details:
          $ref: '#/components/schemas/PhishTraceDetailsResponse'
        security:
          $ref: '#/components/schemas/PhishTraceSecurityResponse'
        domainRegistration:
          $ref: '#/components/schemas/PhishTraceDomainResponse/properties/domainRegistration'
        sslCertificate:
          $ref: '#/components/schemas/PhishTraceDomainResponse/properties/sslCertificate'
        screenshot:
          $ref: '#/components/schemas/PhishTraceScreenshotResponse/properties/screenshot'
        phishingPatterns:
          type: array
          items:
            type: object
            properties:
              pattern:
                type: string
                example: "secure.*login"
              risk:
                type: string
                example: "high"
              description:
                type: string
                example: "Contains 'secure' and 'login'"
        securityRisk:
          type: object
          properties:
            level:
              type: string
              example: "High Risk"
            color:
              type: string
              example: "bg-red-500"
            score:
              type: string
              example: "85.50"

paths:
  /:
    get:
      summary: Welcome message
      description: Returns a welcome message to confirm the API is running
      responses:
        '200':
          description: Welcome message
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Welcome to TraceonAI API"
  
  /codereveal/security-analysis:
    post:
      summary: Get basic token security analysis
      description: |
        Fetches basic token security data for tokens.
        Available to all tier levels (Basic, Pro, Expert).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenSecurityRequest'
      responses:
        '200':
          description: Basic token security data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenSecurityResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  
  /codereveal:
    post:
      summary: Get full token security data
      description: |
        Fetches comprehensive token security data and formats it to match the frontend UI tabs structure.
        Requires Pro or Expert tier.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenSecurityRequest'
      responses:
        '200':
          description: Token security data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenSecurityResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - Insufficient tier level
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  
  /codereveal/audit:
    post:
      summary: Get contract audit
      description: |
        Performs an in-depth security audit of a smart contract by analyzing its source code.
        Requires Pro or Expert tier.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContractAuditRequest'
      responses:
        '200':
          description: Contract audit data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractAuditResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - Insufficient tier level
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  
  /rugtrace:
    post:
      summary: Get all rug analyses
      description: |
        Get all rug analyses in one request.
        Requires Expert tier.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContractAuditRequest'
      responses:
        '200':
          description: All rug analyses
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - Insufficient tier level
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  
  /rugtrace/overview:
    post:
      summary: Get rug analysis overview
      description: |
        Get overview information for rug analysis.
        Available to all tier levels (Basic, Pro, Expert).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContractAuditRequest'
      responses:
        '200':
          description: Rug analysis overview
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  
  /rugtrace/risk-analysis:
    post:
      summary: Get risk analysis
      description: |
        Get risk analysis information.
        Requires Pro or Expert tier.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContractAuditRequest'
      responses:
        '200':
          description: Risk analysis
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - Insufficient tier level
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  
  /rugtrace/wallets-involved:
    post:
      summary: Get wallets involved
      description: |
        Get information about wallets involved.
        Requires Expert tier.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContractAuditRequest'
      responses:
        '200':
          description: Wallets involved
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - Insufficient tier level
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  
  /rugtrace/liquidity-info:
    post:
      summary: Get liquidity information
      description: |
        Get liquidity information.
        Requires Pro or Expert tier.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContractAuditRequest'
      responses:
        '200':
          description: Liquidity information
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - Insufficient tier level
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  
  /rugtrace/past-rugs:
    post:
      summary: Get past rugs
      description: |
        Get information about past rugs.
        Requires Expert tier.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContractAuditRequest'
      responses:
        '200':
          description: Past rugs information
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - Insufficient tier level
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /phishtrace:
    post:
      summary: Get complete phishing analysis
      description: |
        Performs a comprehensive phishing analysis of a URL, including virus checks, domain info, SSL certificate validation, and screenshot generation.
        Returns data formatted to match the frontend's 5 tabs: Overview, Details, Security, Domain, and Screenshot.
        Requires Expert tier.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PhishTraceRequest'
      responses:
        '200':
          description: Complete phishing analysis data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhishTraceCombinedResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /phishtrace/virus-check:
    post:
      summary: Check URL for viruses and malware
      description: |
        Analyzes a URL for potential security threats using VirusTotal API.
        Returns data formatted for the Overview, Details, and Security tabs.
        Available to all tier levels (Basic, Pro, Expert).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PhishTraceRequest'
      responses:
        '200':
          description: Virus check results
          content:
            application/json:
              schema:
                type: object
                properties:
                  overview:
                    $ref: '#/components/schemas/PhishTraceOverviewResponse'
                  details:
                    $ref: '#/components/schemas/PhishTraceDetailsResponse'
                  security:
                    $ref: '#/components/schemas/PhishTraceSecurityResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /phishtrace/domain-info:
    post:
      summary: Get domain registration and SSL information
      description: |
        Fetches domain registration details using WhoisXML API and validates SSL certificate.
        Returns data formatted for the Domain Info tab.
        Requires Pro or Expert tier.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PhishTraceRequest'
      responses:
        '200':
          description: Domain and SSL certificate information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhishTraceDomainResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /phishtrace/screenshot:
    post:
      summary: Generate website screenshot
      description: |
        Generates a screenshot of the target URL using Microlink API.
        Returns data formatted for the Screenshot tab.
        The screenshot URLs are masked to use api.traceonai.com domain instead of showing the third-party service.
        Requires Expert tier.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PhishTraceRequest'
      responses:
        '200':
          description: Screenshot data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhishTraceScreenshotResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'

components:
  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: Forbidden - Insufficient tier level
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    RateLimitExceeded:
      description: Rate limit exceeded
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error' 